<h1>Storage {{model.id}}</h1>
<div class="mt_30">
  <p>
    <strong>Number: </strong>
    {{model.number}}
  </p>
  <p>
    <strong>Address: </strong>
    {{model.address}}
  </p>
  <p>
    <strong>Rule: </strong>
    {{model.rule}}
  </p>
</div>
{{link-to 'Back' 'storages' class="btn btn-default"}}