<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to 'Edi Ember Example' 'index' class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Home' 'index'}}</li>
        <li>{{link-to 'Products' 'products'}}</li>
        <li>{{link-to 'Shipments' 'shipments'}}</li>
        <li>{{link-to 'Storages' 'storages'}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="all">
  <div class="container">
    <div class="wrapper">
      {{outlet}}
    </div>
  </div>
  <div class='footer'>
    <div class="col-sm-4">
      <span class='text-muted'>Copyright © 2015 Edi Example</span>
    </div>
    <div class='col-sm-5'></div>
    <div class='col-sm-3 text-right'>
      <a href="https://github.com/silviolrjunior/edi_example" target="_blank" class='text-muted'>Project</a>
    </div>
  </div>
</div>